<nav class="top-bar" data-topbar>
    <ul class="title-area">
    <li class="name">
    <h1>
        <a href="#">
        Yelp Restaurant Finder
        </a>
    </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
</nav>


<div class="body">
    {{#each item in controller}}
        <li class="list-group-item">{{item}}</li>
    {{/each}}
</div>
<div class="row">
    <div class="columns">{{outlet}}</div>
</div>
